<div class="container">
  <h1>Task List Assignment</h1>
  <h2>Kadince</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/form_field", field: f.text_field(:name, autofocus: true, placeholder: "Name", class: "form-control #{'is-invalid' if resource.errors[:name].any?}"), errors: resource.errors[:name] %>
    <%= render "devise/shared/form_field", field: f.email_field(:email, autocomplete: "email", placeholder: "Email", class: "form-control #{'is-invalid' if resource.errors[:email].any?}"), errors: resource.errors[:email] %>
    <%= render "devise/shared/form_field", field: f.password_field(:password, autocomplete: "new-password", placeholder: "Password", class: "form-control #{'is-invalid' if resource.errors[:password].any?}"), errors: resource.errors[:password] %>

    <%= f.submit "Sign Up", class: "btn-custom" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
