<div class="todo-container">
  <h1 class="text-center">Task List Assignment</h1>

  <div class="task-form-container">
    <%= form_with(model: Todo.new, url: todos_path, method: :post, local: true, class: "task-form") do |f| %>
      <%= f.text_field :title, placeholder: "Add a task...", class: "form-control search-bar" %>
      <%= f.submit "Add", class: "btn btn-add-custom" %>
    <% end %>
  </div>

  <div class="filter-container">
    <div class="filter-buttons">
      <%= link_to "All Tasks", todos_path, class: "btn custom-filter-btn #{'active' if params[:status].blank?}" %>
      <%= link_to "Pending", todos_path(status: "pending"), class: "btn custom-filter-btn #{'active' if params[:status] == 'pending'}" %>
      <%= link_to "Completed", todos_path(status: "complete"), class: "btn custom-filter-btn #{'active' if params[:status] == 'complete'}" %>
    </div>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-danger text-center"><%= flash[:alert] %></div>
  <% end %>

  <ul class="list-group">
    <% @todos.each do |todo| %>
      <li id="<%= dom_id(todo) %>" class="list-group-item">
        <div class="d-flex">
          <%= form_with(model: todo, url: todo_path(todo), method: :patch, local: true, class: "d-flex align-items-center w-100") do |f| %>
            <%= f.check_box :status, { class: "form-check-input", onchange: "this.form.submit();" }, "complete", "pending" %>
            
            <% if @editing_todo == todo %>
              <%= f.text_field :title, class: "form-control flex-grow-1 me-2", value: todo.title %>
              <div class="action-buttons">
                <%= f.button :submit, class: "save-button", aria: { label: "Save todo" } do %>
                  <i class="bi bi-check-circle"></i>
                <% end %>
                <%= link_to todos_path, class: "cancel-button", aria: { label: "Cancel editing" } do %>
                  <i class="bi bi-x-circle"></i>
                <% end %>
              </div>
            <% else %>
              <div class="task-title flex-grow-1">
                <% if todo.status == "complete" %>
                  <span class="text-decoration-line-through"><%= todo.title %></span>
                <% else %>
                  <span><%= todo.title %></span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% unless @editing_todo == todo %>
          <div class="action-buttons">
            <%= link_to todos_path(edit: todo.id), class: "edit-button", aria: { label: "Edit todo" } do %>
              <i class="bi bi-pencil"></i>
            <% end %>
            <%= link_to todo_path(todo), method: :delete, class: "delete-button", data: { turbo_method: :delete }, aria: { label: "Delete todo" } do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
